/node_modules/
*.zip
*.tmp
package-lock.json
/coverage/

.vscode/*
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

npm-debug.log
yarn-error.log
testem.log
/typings


.DS_Store
Thumbs.db
/.vs
/.editorconfig